rss:
    aws:
        blogs:
            feed: 'https://aws.amazon.com/blogs/security/feed/'
            enabled: true
        bulletins:
            feed: 'https://aws.amazon.com/security/security-bulletins/rss/feed/'
            enabled: true
    sans:
        storm_center:
            feed: 'https://isc.sans.edu/rssfeed.xml'
            enabled: true

    grahamcluley:
        keynotes:
            feed: 'https://grahamcluley.com/feed/'
            enabled: true

    krebsonsecurity:
        investigations:
            feed: 'https://krebsonsecurity.com/feed/'
            enabled: true

    schneier:
        atom:
            feed: 'https://www.schneier.com/feed/atom/'
            enabled: true

    securelist:
        news:
            feed: 'https://securelist.com/feed/'
            enabled: true

    thehackernews:
        news:
            feed: 'https://feeds.feedburner.com/TheHackersNews?format=xml'
            enabled: true
